<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DatabaseProject2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
	   <servlet-name>GetCustomer</servlet-name>
	   <servlet-class>GetCustomer</servlet-class>
   </servlet>
   <servlet>
	   <servlet-name>GetCar</servlet-name>
	   <servlet-class>GetCar</servlet-class>
	</servlet>
	<servlet>
	   <servlet-name>LoadData</servlet-name>
	   <servlet-class>LoadData</servlet-class>
	</servlet>
	<servlet>
	   <servlet-name>RentCar</servlet-name>
	   <servlet-class>RentCar</servlet-class>
	</servlet>

<servlet-mapping>
   <servlet-name>GetCustomer</servlet-name>
   <url-pattern>/GetCustomer</url-pattern>
</servlet-mapping>
<servlet-mapping>
   <servlet-name>GetCar</servlet-name>
   <url-pattern>/GetCar</url-pattern>
</servlet-mapping>
<servlet-mapping>
   <servlet-name>LoadData</servlet-name>
   <url-pattern>/LoadData</url-pattern>
</servlet-mapping>
<servlet-mapping>
   <servlet-name>RentCar</servlet-name>
   <url-pattern>/RentCar</url-pattern>
</servlet-mapping>
</web-app>